body {
  background: #38d2d2;
}

.header {
  text-align: center;
}

button {
  width: 200px;
  height: 50px;
  background-color: #ffc840;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 30px;
  font-size: 15px;
  border: 2px solid black;
}

button:hover {
  background-color: #ffb600;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  background: #ffd773;
}

.gameboard {
  width: 454px;
  height: 454px;
  margin: 30px auto;
  background-color: rgba(255,227,191,0.4);
}

.box {
  width: 150px;
  height: 150px;
  float: left;
  text-align: center;
  line-height: 150px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.ol-top {
  border-top: 2px solid #38d2d2;
}

.ol-left {
  border-left: 2px solid #38d2d2;
}

@media (min-width: 375px) {

}
